<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8re5VDZAZVw1uca49g0-xbNedloMcARg</string>
	<key>GCM_SENDER_ID</key>
	<string>481362820789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>esprit.SharedCommute</string>
	<key>PROJECT_ID</key>
	<string>sharecmmut</string>
	<key>STORAGE_BUCKET</key>
	<string>sharecmmut.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:481362820789:ios:bbc5d89322358bde8288fc</string>
</dict>
</plist>
